$main-bg: #f3f4f7;
$montserrat-font: 'Montserrat', sans-serif;
$box-shadow: 0 0 25px 5px rgba(83, 87, 95, 0.25);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: $main-bg;
  font-family: $montserrat-font;
  display: flex;
  align-items: center;
  justify-content: center;

  h1, textarea, button, span {
    font-family: inherit;
  }

  .container  {
    width: 420px;
    height: 530px;
    padding: 25px;
    background-color: $main-bg;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }
}


